/* Dashboard */
.dashboard {
    width: calc(100% - 265px);
}

.dashboard-inner {
    margin: 32px;
}

/* Boards */
.boards {
    color: #172b4d;
}

.boards::before {
    display: block;
    content: '';
    height: 1px;
    width: 100%;
    background-color: hsla(218, 54%, 19.6%, 0.16);
    margin: 32px 0px;
}

.boards h2 {
    font-weight: 600;
    font-size: 20px;
}

.boards .list-cards {
    display: flex;
    gap: 15px;
    margin: 32px 0px;
}

.boards .card {
    height: 95px;
    background: #091e420f;
    text-align: center;
    width: 25%;
    border-radius: 3px;
}

.boards .add-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.boards .card h4 {
    text-align: left;
    padding: 10px;
    color: #fff;
}

.boards .card:hover {
    background-color: #091e421f;
}