body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
}

code {
  font-family: 'Roboto', sans-serif;
}

.btn {
  cursor: pointer;
  border: none;
  text-decoration: none;
}

input {
  display: block;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  align-items: center;
  cursor: pointer;
}

.right {
  margin-left: auto;
}

.left {
  margin-right: auto;
}

.flex {
  display: flex;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: #27272798;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  background-color: #e9e9e98f;
  border-radius: 50px;
}

/* NotFound */
.not-found {
  display: block;
  margin: 75px auto;
  text-align: center;
  max-width: 600px;
  color: #626f86;
}

.not-found h1 {
  font-size: 26px;
  margin-bottom: 24px;
  font-weight: 600;
}

.not-found p {
  font-size: 18px;
  line-height: 22px;
}

.not-found a {
  color: #0c66e4;
}

.not-found a:hover {
  text-decoration: underline;
}

/* Navbar */
.navbar {
  box-shadow: 0px 8px 12px #091e4226, 0px 0px 1px #091e424f;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0px;
  transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
  width: 100vw;
  z-index: 100;
  height: 60px;
  display: flex;
  align-items: center;
  color: rgb(23, 43, 77);
  font-size: 1rem;
  font-weight: 500;
}

.navbar .logo {
  height: 26px;
  padding: 0 40px;
}

.navbar ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
}

.link-account {
  margin-left: auto;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
}

.link-account .link-to-login {
  padding: 0 20px;
}

.link-account .link-to-sign-up {
  padding: 0 20px;
  background-color: rgb(0, 101, 255);
  color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  align-items: center;
}

/* NavbarUser */
.navbar-user {
  transition: 300ms;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: hsla(218, 54%, 19.6%, 0.16);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background-color: hsla(0, 0%, 27%, 0.521);
  max-height: 48px;
  padding: 8px;
  color: var(--nav-color, #FFFFFF);
}

.navbar-user .logo-user {
  width: 75px;
  height: 16px;
  padding: 8px 0px;
  margin: 0;
  opacity: 1;
  filter: var(--filter-logo, hue-rotate(179deg));
}

.navbar-user .logo-user::before {
  content: '';
  background-image: url(https://trello.com/assets/d947df93bc055849898e.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.navbar-user .logo-outer {
  padding: 0px 10px;
}

.navbar-user .left {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
}

.navbar-user .option {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-user .space,
.navbar-user .more,
.navbar-user .recently {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 10px;
}

.navbar-user .space:hover,
.navbar-user .more:hover,
.navbar-user .recently:hover,
.navbar-user .logo-outer:hover {
  background-color: rgba(151, 151, 151, 0.3);
  border-radius: 3px;
}

.navbar-user .option svg {
  height: 16px;
  width: 16px;
  line-height: 16px;
  color: #42526E;
  margin-left: 4px;
}

.navbar-user .option span {
  font-size: 14px;
}

.navbar-user button {
  background: #0c66e4;
  color: #FFFFFF;
  margin: 0;
  font-weight: 400;
  padding: 0 12px;
  border-radius: 3px;
  height: 32px;
  line-height: 32px;
  margin: 0 4px 0 0;
}

.navbar-user button:hover {
  background-color: #0055cc;
}

.navbar-user .right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-user .search {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 32px;
  width: 100%;
  padding: 0px 12px 0px 8px;
  box-sizing: border-box;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  line-height: 20px;
  border: 1.5px solid #e6e6e6;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  background-color: var(--ds-background-input-hovered, #f7f8f9);
}

.navbar-user .search svg {
  width: 16px;
  height: 16px;
  overflow: hidden;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
  color: var(--icon-primary-color, #626f86);
  fill: var(--icon-secondary-color, #ffffff);
  vertical-align: bottom;
}

.navbar-user .search input {
  margin-bottom: revert;
  transition: revert;
  border-width: 1px;
  box-shadow: none;
  background-color: var(--ds-background-input-hovered, #f7f8f9);
}

.navbar-user .avatar {
  width: 35px;
  height: 35px;
  line-height: 24px;
  background-image: url(https://trello-members.s3.amazonaws.com/64a23b00afb58bcc432fbd06/6e51afadf71d3d08f7f2dc8577e9d848/30.png);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar-user .right svg {
  height: 20px;
  width: 20px;
}

.navbar-user .right .search-icon path {
  fill: #626f86;
}

.navbar-user .svg-icon path {
  fill: var(--svg-fill, #ffffff);
}

.navbar-user .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-user .container:hover .circle {
  position: absolute;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(151, 151, 151, 0.3);
  height: 30px;
  width: 30px;
}

/* Sidebar */
.sidebar {
  border-right: 0.5px solid hsla(218, 54%, 19.6%, 0.16);
  height: calc(100vh - 48px);
  width: 259px;
  background-color: #00000077;
  color: #FFFFFF;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.sidebar .title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.sidebar .title .logo {
  display: block;
  height: 32px;
  width: 32px;
  background: linear-gradient(#6E5DC6, #0C66E4);
  border-radius: 3px;
  text-align: center;
}

.sidebar .title h1 {
  font-size: 20px;
}

.sidebar .part,
.sidebar .tables {
  padding: 10px 0 0 0;
}

.sidebar .part::after {
  display: block;
  content: '';
  height: 1px;
  width: 100%;
  background: hsla(218, 54%, 19.6%, 0.16);
  margin: 10px 0 0 0;
}

.sidebar p,
.sidebar h5 {
  font-size: 14px;
}

.sidebar .option {
  color:var(--color, #FFFFFF);
}

.sidebar .option,
.sidebar h5 {
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 20px;
  gap: 5px;
}

.sidebar .option:hover {
  /* background: hsla(0, 0%, 100%, 0.16); */
  background-color: rgba(151, 151, 151, 0.3);
}

.sidebar .option svg {
  height: 20px;
  width: 20px;
  color: var(--color, whitesmoke);
}

/* Heading */
.heading {
  height: auto;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 10px;
  width: calc(100% - 23px);
  align-items: center;
  padding: 12px 10px 12px 16px;
  background-color: #0000003d;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.heading h1 {
  background: transparent;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  margin: 0px 40px 0px 0px;
}

.heading .change-mode {
  margin: 0;
  font-weight: 300;
  padding: 0 12px;
  border-radius: 3px;
  height: 32px;
  line-height: 32px;
  margin: 0 4px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #DFE1E6;
  color: #172B4D;
}

.heading .change-mode svg {
  height: 16px;
  width: 16px;
  line-height: 16px;
  fill: #172B4D;
}

.heading .change-mode:hover {
  background-color: white;
}