/* Kanban */
.kanban {
    width: calc(100% - 265px);
}

/* AddColumn */
.add-column {
    height: 50px;
    padding-right: 20px;
}

.add-column-inner {
    width: 250px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #ffffff3d;
    border-radius: 12px;
    padding: 15px 15px;
    color: rgb(230, 230, 230);
}

.add-column span {
    font-size: 25px;
    line-height: 0%;
}

.add-column p {
    font-size: 14.5px;
}

.add-column-inner:hover {
    background-color: #ffffff1f;
}

/* Board */
.board {
    overflow-x: auto;
    min-height: calc(100vh - 105px);
}

.add-task {
    padding: 8px 8px;
    margin: 10px 0px 0px 0px;
    border-radius: 5px;
}

.add-task:hover {
    background-color: #4242421f;
}

.add-task-inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    color: #778899;
}

.add-task p {
    font-size: 14px;
}