/* Table */
.table {
    min-width: calc(100% - 265px);
}

/* BoardTable */
.board-table {
    margin: 15px 15px;
}

.board-table table {
    width: 100%;
    position: sticky;
    top: 0;
    border-collapse: collapse;
    text-align: left;
    color: #172b4d;
}

.board-table-inner {
    background-color: whitesmoke;
    border-radius: 3px;
    padding: 15px 15px;
    overflow-y: auto;
    max-height: calc(100vh - 165px);
}

.board-table table th {
    font-size: 14px;
    color: #172b4d98;
    padding: 0px 0px 10px 0;
}

.board-table table td {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
}

.board-table tr {
    border-bottom: 1.5px solid lightgray;
}

.board-table tr:hover {
    border-bottom: 1.5px solid #1e7cff;
}

.board-table .edit-board-table {
    height: 32px;
    width: 32px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-table .edit-board-table:hover {
    background: #091e4224;
}

/* AddTaskTable */

.line-add {
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 35px;
}

.add {
    border-radius: 5px;
    background-color: #d4e9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    position: absolute;
    z-index: 100;
    margin-top: 16px;
    margin-left: -10px;
}